{"openapi":"3.1.0","info":{"title":"Backend Service","description":"API Documents For Backend Service","version":"1.0.0"},"servers":[{"url":"https://api.calatha.com"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Shop Public Controller","description":"Public API for viewing shop info - no authentication required"},{"name":"Notification","description":"Notification management endpoints"},{"name":"Admin Campaign","description":"Campaign management APIs for administrators"},{"name":"Shop Review Management","description":"APIs for shop to respond to reviews"},{"name":"Admin Order Management","description":"APIs for admin and employee order management"},{"name":"Shop Brand Profile Controller","description":"API for managing shop brand profile"},{"name":"Fee Reports","description":"APIs for fee reporting and analysis"},{"name":"Bank Controller","description":"APIs quản lý danh sách ngân hàng và tài khoản ngân hàng"},{"name":"Inventory Reporting","description":"APIs for inventory reporting and analytics"},{"name":"Shop Penalty Management","description":"Shop APIs to view penalties"},{"name":"Inventory Transactions","description":"APIs for managing inventory transactions"},{"name":"Buyer Order Management","description":"APIs for buyer order management"},{"name":"Admin Payment Methods","description":"Manage system-wide payment methods"},{"name":"Search Suggestions","description":"Search autocomplete and keyword tracking APIs"},{"name":"Shop Product Loyalty","description":"Quản lý loyalty promotion cho từng sản phẩm"},{"name":"Shop Order Management","description":"APIs for shop order management"},{"name":"Shop Legal Controller","description":"API for managing shop legal"},{"name":"Homepage Banner","description":"Public and admin endpoints for homepage banners"},{"name":"Buyer Controller","description":"API for managing buyers"},{"name":"Data Import Address Controller","description":"API for importing address data from JSON to database (Admin only)"},{"name":"Penalty Policy Management","description":"APIs for managing penalty policies"},{"name":"Shop Address Controller","description":"API for managing shop address"},{"name":"Shop Appeal Management","description":"Shop APIs to manage appeals"},{"name":"Checkout","description":"APIs for checkout preview"},{"name":"Admin Penalty Management","description":"Admin APIs for penalty operations"},{"name":"[DEV] Simulation","description":"Dev-only APIs for simulating external events (carrier webhooks, etc.)"},{"name":"Address Controller","description":"API for managing Vietnam administrative addresses"},{"name":"Admin Buyer Controller","description":"Admin API for managing buyers"},{"name":"Shop Tax Info Controller","description":"API for managing shop tax info"},{"name":"Admin Appeal Management","description":"Admin APIs for appeal operations"},{"name":"Admin Loyalty","description":"Platform-wide loyalty programs management"},{"name":"Admin Shipping Management","description":"Manage Shipping Channels and Carriers"},{"name":"Admin - Payment Fee Management","description":"APIs for managing payment fee policies"},{"name":"Admin - Cache Management","description":"Endpoints for managing Redis caches"},{"name":"Buyer Address Controller","description":"API for managing buyers address"},{"name":"Inventory CRUD","description":"APIs for basic inventory operations"},{"name":"Public Campaign","description":"Public campaign APIs for buyers and guests"},{"name":"Public Loyalty","description":"Public APIs for loyalty program discovery (no auth required)"},{"name":"Admin Review Management","description":"Admin APIs for review moderation"},{"name":"Public Products","description":"Public product APIs for customers"},{"name":"Admin - Carrier Ledger","description":"COD & online payment reconciliation between platform and carriers"},{"name":"Shop Campaign","description":"Campaign APIs for shop owners"},{"name":"Shop Settings","description":"Manage Shop's Payment and Shipping configurations"},{"name":"Shop Controller","description":"API for managing shops"},{"name":"Category Management","description":"APIs for managing product categories"},{"name":"Admin Products","description":"Product management APIs for administrators"},{"name":"Rich Text Paragraphs","description":"APIs for managing product rich text descriptions"},{"name":"Shop Loyalty Management","description":"APIs for shop loyalty policy management"},{"name":"Buyer Loyalty Management","description":"RESTful APIs for buyer loyalty management"},{"name":"Cart Item Management V1","description":"APIs for managing cart items with single cart per user"},{"name":"Category Fee Management","description":"APIs for managing category fees"},{"name":"Analytics","description":"Analytics API for shop and platform metrics, dashboards, and reports"},{"name":"User Controller","description":"API for managing users"},{"name":"Shop Products","description":"Product management APIs for shop owners"},{"name":"Voucher Application V2","description":"API áp dụng voucher V2 với entity mới"},{"name":"Review Management","description":"APIs for product/shop reviews"},{"name":"Cart Management V1","description":"APIs for managing single cart per buyer"},{"name":"Admin - Service Fee Management","description":"APIs for managing platform service fee policies"},{"name":"New Voucher Management","description":"API quản lý voucher mới với thiết kế 3 entity - Performance tốt hơn 30x"},{"name":"Shop Category Fee Management","description":"APIs for managing shop-specific category fees"}],"paths":{"/api/v2/vouchers/templates/shop/{templateId}":{"put":{"tags":["New Voucher Management"],"summary":"Shop cập nhật voucher tự tạo","description":"Cho phép cập nhật tên, mô tả, ngày kết thúc, số lượng...","operationId":"updateShopVoucher","parameters":[{"name":"templateId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 3ec92a08-c88e-4a27-b092-d427824f3ab4)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoucherTemplateUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoucherTemplateResponse"}}}}}},"delete":{"tags":["New Voucher Management"],"summary":"Shop xóa voucher tự tạo","description":"Xóa mềm voucher template và các instance liên quan","operationId":"deleteShopVoucher","parameters":[{"name":"templateId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 4c4af9f3-716e-43f3-bbf7-ee4989cdf6b5)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v2/vouchers/templates/platform/{templateId}":{"put":{"tags":["New Voucher Management"],"summary":"Platform cập nhật voucher template","description":"DRAFT: cho phép sửa code, discountType, voucherScope, startDate, applicableProducts, shopIds, customerIds, campaignIds. ACTIVE: chỉ sửa non-structural fields.","operationId":"updatePlatformVoucher","parameters":[{"name":"templateId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 658115f0-33c1-4982-9a44-31a66ac2c3ce)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoucherTemplateUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoucherTemplateResponse"}}}}}}},"/api/v1/wallets/password":{"put":{"tags":["wallet-controller"],"operationId":"changePassword","parameters":[{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 640c07b5-ed71-4386-b5d7-308c31a1977d)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeWalletPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/users/{userId}":{"get":{"tags":["User Controller"],"summary":"Get user detail","description":"Retrieve detailed information of a user by userId.\n- userId: the unique identifier of the user (required)\n","operationId":"getUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. b2ae6c39-735c-4c7b-ba10-8bb49a2dc38e)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBaseUserResponse"}}}}}},"put":{"tags":["User Controller"],"summary":"Update account user","description":"Update a user's account information with the following details:\n- status: the new status of the user (optional). Possible values: ACTIVE, LOCKED, DELETED.\n- role: the new role to assign to the user (optional). Examples: BUYER, SHOP, LOGISTICS, BUSINESS, ACCOUNTANT, EXECUTIVE.\n- restore: boolean flag indicating whether to restore a previously deleted user (optional).\n","operationId":"updateUserAccount","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. de7599e3-da56-4562-91f5-7499aabb4745)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/users/{userId}/permissions":{"get":{"tags":["User Controller"],"summary":"Get user permissions","description":"Retrieve detailed permission information for a user by their ID.\nThis includes:\n- Role-based permissions: permissions inherited from the user's role.\n- User-specific permissions: permissions assigned directly to the user, overriding role permissions if conflicts exist.\nRequest parameters:\n- userId: the unique identifier of the user (required)\n","operationId":"getUserDetail","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 3b942525-4e62-483a-80fa-50b9cf768444)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}},"put":{"tags":["User Controller"],"summary":"Update permission account","description":"Assign or update specific permissions for a user, independent of their role.\n- newPermissionIds: list of permission IDs to assign (required, cannot be empty)\n","operationId":"updateUserPermissions","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. b5b157e2-270a-4f7e-b452-bc53165acf45)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserPermissionsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/users/{userId}/client":{"put":{"tags":["User Controller"],"summary":"Update user client","description":"Update a user's account information with the following details:\n- image: string\n","operationId":"updateUserClient","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. a885dba3-b3e4-4dbf-88c3-1abc5147f065)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdateClientRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/user/products/{productId}/rich-text-paragraphs/{paragraphId}":{"put":{"tags":["Rich Text Paragraphs"],"summary":"Update rich text paragraph","description":"Update an existing paragraph","operationId":"updateParagraph","parameters":[{"name":"productId","in":"path","description":"Product ID","required":true,"schema":{"type":"string"}},{"name":"paragraphId","in":"path","description":"Paragraph ID","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 72d89474-14d5-4a12-9da8-e49738775245)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRichTextParagraphRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRichTextParagraphResponse"}}}}}},"delete":{"tags":["Rich Text Paragraphs"],"summary":"Delete rich text paragraph","description":"Remove a paragraph from product description","operationId":"deleteParagraph","parameters":[{"name":"productId","in":"path","description":"Product ID","required":true,"schema":{"type":"string"}},{"name":"paragraphId","in":"path","description":"Paragraph ID","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 2729df11-1a37-4c7d-be75-545e19e17a9b)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/shops":{"get":{"tags":["Shop Controller"],"summary":"Get all shops","description":"Get all shops (admin only)","operationId":"getAllShops","parameters":[{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"shopStatus","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"isDeleted","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. c2130c06-3487-4257-87dc-4744f910bde5)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageDtoShopResponse"}}}}}},"put":{"tags":["Shop Controller"],"summary":"Update shop","description":"Update current user's shop","operationId":"updateShop","parameters":[{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 4d4dad49-3a2a-4670-a00b-bf77ccf9f9c9)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShopUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"post":{"tags":["Shop Controller"],"summary":"Create shop","description":"Create shop to database","operationId":"createShop","parameters":[{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 7081b6bd-3d4b-408f-991f-1c5d6c282ec3)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShopCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseShopResponse"}}}}}}},"/api/v1/shops/{shopId}/suspend":{"put":{"tags":["Shop Controller"],"summary":"Suspend shop","description":"Suspend shop (admin only)","operationId":"suspendShop","parameters":[{"name":"shopId","in":"path","required":true,"schema":{"type":"string"}},{"name":"reason","in":"query","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. d500e559-35b2-46c3-95e9-5113482203de)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/shops/{shopId}/regions/{region}":{"put":{"tags":["shop-region-config-controller"],"operationId":"updateRegion","parameters":[{"name":"shopId","in":"path","required":true,"schema":{"type":"string"}},{"name":"region","in":"path","required":true,"schema":{"type":"string","enum":["VIETNAM","INTERNATIONAL"]}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 4ee36a34-c1d9-44bc-bd3e-1b346ca36f5d)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateShopRegionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseShopRegionConfigResponse"}}}}}}},"/api/v1/shops/toggle":{"put":{"tags":["Shop Controller"],"summary":"Toggle shop vacation mode","description":"Toggle current user's shop vacation mode","operationId":"toggleVacation","parameters":[{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. e0cb950a-8965-4694-9797-3090cfffa27c)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToggleVacationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/shops/me/tax-info/{taxId}":{"get":{"tags":["Shop Tax Info Controller"],"summary":"Get shop tax info","description":"Get current user's shop tax info","operationId":"getShopTaxInfoDetail","parameters":[{"name":"taxId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. c27e58bb-8d43-43a6-af5c-0ad092a5c70e)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseShopTaxInfoResponse"}}}}}},"put":{"tags":["Shop Tax Info Controller"],"summary":"Update shop tax info","description":"Update current user's shop tax info","operationId":"updateShopTaxInfo","parameters":[{"name":"taxId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 53e78df8-f045-4707-a41f-7b42492a1a42)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShopTaxInfoUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/shops/me/legal-info/{legalId}":{"get":{"tags":["Shop Legal Controller"],"summary":"Get shop legal info detail","description":"Get current user's shop legal info detail","operationId":"getShopLegalInfoDetail","parameters":[{"name":"legalId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. bbcb979e-6b10-444e-bbaa-1547e7262bdc)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseShopLegalInfoResponse"}}}}}},"put":{"tags":["Shop Legal Controller"],"summary":"Update shop legal info","description":"Update current user's shop legal info","operationId":"updateShopLegalInfo","parameters":[{"name":"legalId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 92e729a3-f187-4c24-bc2a-941ab8ded05e)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShopLegalInfoUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/shops/complete":{"put":{"tags":["Shop Controller"],"summary":"Update complete shop","description":"Update shop with legal and tax info in one transaction. UserId is automatically extracted from authentication context. Used when shop is REJECTED and needs to update all information.","operationId":"updateCompleteShop","parameters":[{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 2d766199-6919-42c4-950e-0f7754f44d24)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShopCompleteCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseShopCompleteResponse"}}}}}},"post":{"tags":["Shop Controller"],"summary":"Create complete shop","description":"Create shop with legal and tax info in one transaction. UserId is automatically extracted from authentication context.","operationId":"createCompleteShop","parameters":[{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 8803d78f-84a3-4e3b-bdc2-ebcf41d04a83)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShopCompleteCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseShopCompleteResponse"}}}}}}},"/api/v1/shop/products/{id}":{"get":{"tags":["Shop Products"],"summary":"Get user's product by ID","description":"Get a product by ID (user's own products only)","operationId":"getProductById","parameters":[{"name":"id","in":"path","description":"Product ID","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 42ff27bc-2a75-48d8-b206-c77f118b4a4f)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProductResponse"}}}}}},"put":{"tags":["Shop Products"],"summary":"Upsert product (partial update)","description":"Update product partially. Only provided fields will be updated. Null fields are ignored. Support nested entities upsert.","operationId":"upsertProductBulk","parameters":[{"name":"id","in":"path","description":"Product ID","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 04c72d61-928b-4a6f-9634-c33b662b51a4)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertProductBulkRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProductBulkResponse"}}}}}},"delete":{"tags":["Shop Products"],"summary":"Delete product","description":"Delete a product (soft delete) using HTTP ETag for version control","operationId":"deleteProduct","parameters":[{"name":"id","in":"path","description":"Product ID","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 88cc7bac-51f1-4ddc-89a3-5ca29f80747c)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/shop/orders/{orderId}/status":{"put":{"tags":["Shop Order Management"],"summary":"Update order status","description":"Update order status by shop","operationId":"updateOrderStatus","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 4524df71-41b3-4d4e-b42d-5d89cd2fe13e)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderStatusUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/shop/orders/{orderId}/shipping":{"put":{"tags":["Shop Order Management"],"summary":"[DEPRECATED] Update shipping info","description":"Update shipping information by shop","operationId":"updateShippingInfo","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 1d5a409c-174f-4a9e-a669-406bf60145e0)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderShippingUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}},"deprecated":true}},"/api/v1/shop/orders/{orderId}/return-reject":{"put":{"tags":["Shop Order Management"],"summary":"Reject return","description":"Reject buyer's return request","operationId":"rejectReturn","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 28e9daa5-37a0-473e-b4be-39c15aefdcbb)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderCancelRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/shop/orders/{orderId}/return-received":{"put":{"tags":["Shop Order Management"],"summary":"Confirm return received","description":"Confirm returned items received at shop","operationId":"confirmReturnReceived","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 75848414-54d2-46d4-9870-25b1aa011ffb)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/shop/orders/{orderId}/return-dispute":{"put":{"tags":["Shop Order Management"],"summary":"Dispute return quality","description":"Shop disputes returned item quality (RETURNED → RETURN_DISPUTED)","operationId":"disputeReturn","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. e9b49408-3b4e-489e-b9a6-c868624cb9d9)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderNoteRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/shop/orders/{orderId}/return-approve":{"put":{"tags":["Shop Order Management"],"summary":"Approve return","description":"Approve buyer's return request","operationId":"approveReturn","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 129fdd06-a301-469f-b7e4-a5f295676483)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderNoteRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/shop/orders/{orderId}/return-agree":{"put":{"tags":["Shop Order Management"],"summary":"Agree return quality","description":"Shop accepts returned items and triggers refund (RETURNED → REFUND_PENDING)","operationId":"agreeReturn","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. b43d669d-402e-48fa-8fee-015277c0c8ca)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/shop/orders/{orderId}/reject":{"put":{"tags":["Shop Order Management"],"summary":"Reject order","description":"Reject a PAID order by shop (triggers refund to buyer)","operationId":"rejectOrder","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. f870b478-77f4-4792-90ec-07b16054d53e)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderCancelRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/shop/orders/{orderId}/cancel":{"put":{"tags":["Shop Order Management"],"summary":"Cancel COD order","description":"Cancel COD order at CREATED status only. For PAID orders, use /reject endpoint instead which triggers refund.","operationId":"cancelOrder","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. da76bde7-0d73-4664-84bf-f1f905212d65)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderCancelRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/shop/orders/{orderId}/cancel-request/reject":{"put":{"tags":["Shop Order Management"],"summary":"Reject cancel request","description":"Reject buyer's cancellation request","operationId":"rejectCancelRequest","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 08664a01-7d1c-4222-ae68-6c3ce3af73f4)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelRequestRejectRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/shop/orders/{orderId}/cancel-request/approve":{"put":{"tags":["Shop Order Management"],"summary":"Approve cancel request","description":"Approve buyer's cancellation request (attempts carrier cancellation)","operationId":"approveCancelRequest","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. de5fd8df-123e-401d-af76-4e0d129076e7)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCancelRequestApprovalResponse"}}}}}}},"/api/v1/shop/loyalty/promotions/{promotionId}":{"put":{"tags":["Shop Product Loyalty"],"summary":"Update promotion","description":"Cập nhật product loyalty promotion","operationId":"updatePromotion","parameters":[{"name":"promotionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. ce8e76f7-f12b-43af-8861-0b5858c90e99)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductLoyaltyPromotionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProductLoyaltyPromotionResponse"}}}}}},"delete":{"tags":["Shop Product Loyalty"],"summary":"Delete promotion","description":"Xóa promotion (soft delete)","operationId":"deletePromotion","parameters":[{"name":"promotionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 549abfc9-1115-416a-9a86-742d53f60f3d)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/shop/loyalty/promotions/{promotionId}/publish":{"put":{"tags":["Shop Product Loyalty"],"summary":"Publish promotion","description":"Chuyển promotion từ DRAFT sang ACTIVE","operationId":"publishPromotion","parameters":[{"name":"promotionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 987d9174-7551-429e-8166-617f62f9a121)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProductLoyaltyPromotionResponse"}}}}}}},"/api/v1/shop/loyalty/promotions/{promotionId}/cancel":{"put":{"tags":["Shop Product Loyalty"],"summary":"Cancel promotion","description":"Huỷ vĩnh viễn promotion","operationId":"cancelPromotion","parameters":[{"name":"promotionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 402397c0-6a61-40cc-b9b3-2ba73f1c062f)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProductLoyaltyPromotionResponse"}}}}}}},"/api/v1/shop/loyalty/policy":{"get":{"tags":["Shop Loyalty Management"],"summary":"Get loyalty policy","description":"Get current shop loyalty policy","operationId":"getPolicy","parameters":[{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 536f4ff4-f444-414f-9011-632878c12522)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLoyaltyPolicyResponse"}}}}}},"put":{"tags":["Shop Loyalty Management"],"summary":"Update loyalty policy","description":"Update existing shop loyalty policy","operationId":"updatePolicy","parameters":[{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. e9cce4df-b5f4-43fe-ba9b-8a80e72eeaa6)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoyaltyPolicyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLoyaltyPolicyResponse"}}}}}},"post":{"tags":["Shop Loyalty Management"],"summary":"Create loyalty policy","description":"Create new shop loyalty policy","operationId":"createPolicy","parameters":[{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 6c10dfc8-fe1e-4e27-9487-f94d65d3689e)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoyaltyPolicyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLoyaltyPolicyResponse"}}}}}}},"/api/v1/shop/loyalty/policy/status":{"put":{"tags":["Shop Loyalty Management"],"summary":"Update policy status","description":"Enable or disable loyalty policy","operationId":"updatePolicyStatus","parameters":[{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 52630505-dc03-4749-8e31-e912f291ef88)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyStatusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLoyaltyPolicyResponse"}}}}}}},"/api/v1/shop/campaigns/{campaignId}":{"get":{"tags":["Shop Campaign"],"summary":"Get my campaign detail","operationId":"getMyCampaignDetail","parameters":[{"name":"campaignId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 4f6c642d-9507-4ad5-a1ff-ffaf0204c255)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseShopCampaignDetailResponse"}}}}}},"put":{"tags":["Shop Campaign"],"summary":"Update my campaign","operationId":"updateMyCampaign","parameters":[{"name":"campaignId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. c377c3a0-23c5-4697-9afa-bfaa5122f4ef)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCampaignRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCampaignResponse"}}}}}},"delete":{"tags":["Shop Campaign"],"summary":"Delete my campaign","operationId":"deleteMyCampaign","parameters":[{"name":"campaignId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 582318bf-7408-4007-bbbc-fe3ffc662424)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/shop/addresses/{addressId}":{"get":{"tags":["Shop Address Controller"],"summary":"Get shop address detail","description":"Get current user's shop address detail","operationId":"getShopAddressDetail","parameters":[{"name":"addressId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 0512196d-3c6c-4993-9d7e-f12f186fd829)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseShopAddressResponse"}}}}}},"put":{"tags":["Shop Address Controller"],"summary":"Update shop address","description":"Update current user's shop address","operationId":"updateShopAddress","parameters":[{"name":"addressId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 236db00e-20dc-4fe1-8b6b-9850e841bdd0)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShopAddressUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/shop-category-fees/{id}":{"get":{"tags":["Shop Category Fee Management"],"summary":"Get shop category fee by ID","description":"Get shop category fee information by ID","operationId":"getShopCategoryFeeById","parameters":[{"name":"id","in":"path","description":"Shop Category Fee ID","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 4e0409c7-4263-43a0-834c-88e60e90a026)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseShopCategoryFeeResponse"}}}}}},"put":{"tags":["Shop Category Fee Management"],"summary":"Update shop category fee metadata","description":"Update METADATA only (effectiveTo, active). For financial rule changes, use POST /{id}/revise","operationId":"updateShopCategoryFee","parameters":[{"name":"id","in":"path","description":"Shop Category Fee ID","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 2d3ce6d5-0990-449f-8b25-350b55d6c8b3)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateShopCategoryFeeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseShopCategoryFeeResponse"}}}}}},"delete":{"tags":["Shop Category Fee Management"],"summary":"Delete shop category fee","description":"Delete a shop category fee by its ID","operationId":"deleteShopCategoryFee","parameters":[{"name":"id","in":"path","description":"Shop Category Fee ID","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 8f914588-7b1b-4d31-92dd-936c54f2ab36)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/service-fees/{id}":{"get":{"tags":["Admin - Service Fee Management"],"summary":"Get service fee by ID","description":"Get a specific service fee policy","operationId":"getServiceFeeById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. ba684762-f14a-4195-bf89-6b561163b1c5)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseServiceFeeResponse"}}}}}},"put":{"tags":["Admin - Service Fee Management"],"summary":"Update service fee METADATA","description":"Update metadata only (name, description, active, effectiveTo). Does NOT allow updating financial rules - use POST /{id}/revise instead.","operationId":"updateServiceFee","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 2e8990fa-0d16-43f3-91a3-c08c8e07c342)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateServiceFeeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseServiceFeeResponse"}}}}}},"delete":{"tags":["Admin - Service Fee Management"],"summary":"Delete service fee","description":"Soft delete a service fee policy","operationId":"deleteServiceFee","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. d58eefc4-9709-4be0-a767-690767a2416a)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/roles/{roleId}":{"get":{"tags":["Role Controller"],"summary":"Get detail role","description":"Get detail role to database","operationId":"getRoleDetail","parameters":[{"name":"roleId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 122ed95e-de53-4af9-a553-ea9b1d036dc7)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}},"put":{"tags":["Role Controller"],"summary":"Update role","description":"Update role to database","operationId":"updateRole","parameters":[{"name":"roleId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. f27914f3-d663-49da-938c-269533acf22b)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}},"delete":{"tags":["Role Controller"],"summary":"Delete role","description":"Delete role to database","operationId":"deleteRole","parameters":[{"name":"roleId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. f9ed17cb-c8ee-4d96-9954-ce1fec5b4581)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/roles/{roleId}/permissions":{"get":{"tags":["Role Controller"],"summary":"Get permission by role id","description":"Get permission by role  to database","operationId":"getRolePermissions","parameters":[{"name":"roleId","in":"path","required":true,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 7cbcfe44-9fe0-4373-b367-8aa0b6f83bf0)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}},"put":{"tags":["Role Controller"],"summary":"Update permission by role id","description":"Update permission by role  to database","operationId":"updateRolePermissions","parameters":[{"name":"roleId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 3d4fde99-d339-4efd-8f3b-d9a4829ba034)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRolePermissionsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/reviews/{reviewId}":{"get":{"tags":["Review Management"],"summary":"Get single review","description":"Get review details by ID","operationId":"getReviewById","parameters":[{"name":"reviewId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. eda135cb-cb50-45e6-9396-ea8d83c35d4e)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReviewResponse"}}}}}},"put":{"tags":["Review Management"],"summary":"Update review","description":"Update your own review","operationId":"updateReview","parameters":[{"name":"reviewId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 3cae07e5-c365-4a35-a142-b7128495d2f1)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateReviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReviewResponse"}}}}}},"delete":{"tags":["Review Management"],"summary":"Delete review","description":"Delete your own review","operationId":"deleteReview","parameters":[{"name":"reviewId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 7a771e03-ac09-4bc0-bad6-111e880c9ccc)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/permissions/{id}":{"get":{"tags":["Permission Controller"],"summary":"Get permission detail","description":"Get permission detail to database","operationId":"getPermissionDetail","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 76f27a89-6815-42f1-823b-c5fac6fd702e)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}},"put":{"tags":["Permission Controller"],"summary":"Update permission","description":"Update permission to database","operationId":"updatePermission","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 5bc41721-13d9-44e4-bc99-c317692cee34)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}},"delete":{"tags":["Permission Controller"],"summary":"Delete permission","description":"Delete permission to database","operationId":"deletePermission","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 761e1ac6-f4c1-4ee3-965c-a9638601d919)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/penalty-policies/{id}":{"get":{"tags":["Penalty Policy Management"],"summary":"Get penalty policy by ID","operationId":"getPolicyById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 32cb9e44-a222-474e-acf8-a826938f5978)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PenaltyPolicyResponse"}}}}}},"put":{"tags":["Penalty Policy Management"],"summary":"Update penalty policy","operationId":"updatePolicy_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. bd54920e-9bcc-4cfb-bcf8-17038cc11923)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePenaltyPolicyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PenaltyPolicyResponse"}}}}}},"delete":{"tags":["Penalty Policy Management"],"summary":"Delete penalty policy","operationId":"deletePolicy","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. c57bc8c7-3789-4871-a66d-810cc5279eb0)","required":false}],"responses":{"200":{"description":"OK"}}}},"/api/v1/payment-fees/{id}":{"get":{"tags":["Admin - Payment Fee Management"],"summary":"Get payment fee by ID","description":"Get a specific payment fee policy","operationId":"getPaymentFeeById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. fff6137f-9639-455f-833d-0c6fbd694823)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePaymentFeeResponse"}}}}}},"put":{"tags":["Admin - Payment Fee Management"],"summary":"Update payment fee metadata","description":"Update METADATA only. For financial rule changes, use POST /{id}/revise","operationId":"updatePaymentFee","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 975f26ce-54ba-4476-b733-120077ea3036)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePaymentFeeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePaymentFeeResponse"}}}}}},"delete":{"tags":["Admin - Payment Fee Management"],"summary":"Delete payment fee","description":"Soft delete a payment fee policy","operationId":"deletePaymentFee","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 2db4fecb-4f5e-4801-880a-6dca0ff01724)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/inventory/variants/{variantId}":{"get":{"tags":["Inventory CRUD"],"summary":"Get inventory by variant","description":"Retrieve inventory information for a specific product variant","operationId":"getByVariant","parameters":[{"name":"variantId","in":"path","description":"Product variant ID","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 06e4bdaf-878a-4851-a61f-b6f58131cab1)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseInventoryResponse"}}}}}},"put":{"tags":["Inventory CRUD"],"summary":"Set inventory stock","description":"Set the exact stock quantity for a product variant","operationId":"set","parameters":[{"name":"variantId","in":"path","description":"Product variant ID","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. a0b88b5d-dad5-43ce-a1d2-44132d3d56ba)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetInventoryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseInventoryResponse"}}}}}}},"/api/v1/homepage/banners/{id}":{"get":{"tags":["Homepage Banner"],"summary":"Get banner by ID (admin)","description":"Get banner details by ID","operationId":"getById","parameters":[{"name":"id","in":"path","description":"Banner ID","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 1c88a52d-712c-4f5e-9d04-51eb7889c43c)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBannerResponse"}}}}}},"put":{"tags":["Homepage Banner"],"summary":"Update banner (admin)","description":"Update an existing banner using HTTP ETag for version control","operationId":"update","parameters":[{"name":"id","in":"path","description":"Banner ID","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","description":"ETag for optimistic locking","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 90de216b-41b9-4e16-a0e2-46b4b62c5b90)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBannerRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBannerResponse"}}}}}},"delete":{"tags":["Homepage Banner"],"summary":"Delete banner (admin)","description":"Soft delete a banner using HTTP ETag for version control","operationId":"delete","parameters":[{"name":"id","in":"path","description":"Banner ID","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","description":"ETag for optimistic locking","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. bacd15f6-52bb-48ee-9657-07d61eaf0821)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/homepage/banners/{id}/active":{"put":{"tags":["Homepage Banner"],"summary":"Toggle active status (admin)","description":"Toggle banner active/inactive status using HTTP ETag","operationId":"toggleActive","parameters":[{"name":"id","in":"path","description":"Banner ID","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","description":"ETag for optimistic locking","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. ab0a1cc5-4023-4051-b187-f7a71800acb4)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToggleActiveRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBannerResponse"}}}}}}},"/api/v1/chat/shop/templates/{templateId}":{"get":{"tags":["Chat - Shop"],"summary":"Get template detail","description":"Get detailed information of a template","operationId":"getTemplateById","parameters":[{"name":"templateId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 4cc273ba-1810-41cd-ac3d-675ba1420b8e)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAutoReplyTemplateResponse"}}}}}},"put":{"tags":["Chat - Shop"],"summary":"Update template","description":"Update an auto-reply template","operationId":"updateTemplate","parameters":[{"name":"templateId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. ff2c2a62-1fd4-461e-99d9-40e442c5afbd)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoReplyTemplateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAutoReplyTemplateResponse"}}}}}},"delete":{"tags":["Chat - Shop"],"summary":"Delete template","description":"Delete an auto-reply template","operationId":"deleteTemplate","parameters":[{"name":"templateId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. bb6564ad-f48f-4f7c-b2d3-f0b234318e8c)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/chat/shop/settings":{"get":{"tags":["Chat - Shop"],"summary":"Get chat settings","description":"Get shop's chat settings","operationId":"getMySettings","parameters":[{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. b3ff6570-9835-4e92-b01b-53dad82c4640)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseShopChatSettingResponse"}}}}}},"put":{"tags":["Chat - Shop"],"summary":"Update chat settings","description":"Update shop's chat settings","operationId":"updateSettings","parameters":[{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. f9c17cd0-2dae-4766-98ed-28e47da50c73)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShopChatSettingUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseShopChatSettingResponse"}}}}}}},"/api/v1/chat/shop/settings/business-hours":{"put":{"tags":["Chat - Shop"],"summary":"Update business hours","description":"Update shop's business hours","operationId":"updateBusinessHours","parameters":[{"name":"start","in":"query","required":true,"schema":{"type":"string"}},{"name":"end","in":"query","required":true,"schema":{"type":"string"}},{"name":"workingDays","in":"query","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 3d3abe60-80a0-497a-997b-687be19016ab)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/chat/messages/{messageId}":{"get":{"tags":["Message Controller"],"summary":"Get message detail","description":"Get detailed information of a message","operationId":"getMessageById","parameters":[{"name":"messageId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 859958f9-6a9b-4ede-a6fb-19fa69ac527b)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMessageResponse"}}}}}},"put":{"tags":["Message Controller"],"summary":"Update message","description":"Edit a message (only sender can edit)","operationId":"updateMessage","parameters":[{"name":"messageId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. ad4ef4e6-db4a-4b9f-81ca-525e69b59a6c)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMessageResponse"}}}}}},"delete":{"tags":["Message Controller"],"summary":"Delete message","description":"Delete a message (soft delete)","operationId":"deleteMessage","parameters":[{"name":"messageId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 047d4af4-96b3-4656-992b-1f32e0597630)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageDeleteRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/chat/conversations/{conversationId}":{"get":{"tags":["Conversation Controller"],"summary":"Get conversation detail","description":"Get detailed information of a conversation","operationId":"getConversationById","parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 84289889-e2b7-44c6-92e1-e79b26daee7a)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseConversationResponse"}}}}}},"put":{"tags":["Conversation Controller"],"summary":"Update conversation","description":"Update conversation name, avatar, etc.","operationId":"updateConversation","parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. ffce1be8-6ee9-43b7-9114-5ca1c8bc37d8)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConversationUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseConversationResponse"}}}}}},"delete":{"tags":["Conversation Controller"],"summary":"Delete conversation","description":"Soft delete a conversation","operationId":"deleteConversation","parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 7f375f72-be5a-4fb4-bd2b-9c33dcc09ba6)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/chat/conversations/{conversationId}/participants/{userId}/nickname":{"put":{"tags":["Chat - Participants"],"summary":"Update nickname","description":"Update participant's nickname in conversation","operationId":"updateNickname","parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"userId","in":"path","required":true,"schema":{"type":"string"}},{"name":"nickname","in":"query","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 8da46c49-54ee-4ed8-9b6d-77bc641a3a8c)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseParticipantResponse"}}}}}}},"/api/v1/chat/admin/reports/{reportId}/status":{"put":{"tags":["Chat - Admin"],"summary":"Update report status","description":"Update status of a report (review, resolve, reject)","operationId":"updateReportStatus","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","required":true,"schema":{"type":"string","enum":["PENDING","REVIEWED","RESOLVED","REJECTED"]}},{"name":"adminNote","in":"query","required":false,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 49962c1f-83ee-43c5-beed-2349cbc341d9)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseChatReportResponse"}}}}}}},"/api/v1/category-fees/{id}":{"get":{"tags":["Category Fee Management"],"summary":"Get category fee by ID","description":"Get category fee information by ID","operationId":"getCategoryFeeById","parameters":[{"name":"id","in":"path","description":"Category Fee ID","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 2482cc35-b60a-48b2-a3d3-bc23badd6c6c)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCategoryFeeResponse"}}}}}},"put":{"tags":["Category Fee Management"],"summary":"Update category fee metadata","description":"Update METADATA only (effectiveTo, active). For financial rule changes, use POST /{id}/revise","operationId":"updateCategoryFee","parameters":[{"name":"id","in":"path","description":"Category Fee ID","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 135b7f83-611f-4a5c-8cea-c9db26b048e2)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCategoryFeeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCategoryFeeResponse"}}}}}},"delete":{"tags":["Category Fee Management"],"summary":"Delete category fee","description":"Delete a category fee by its ID","operationId":"deleteCategoryFee","parameters":[{"name":"id","in":"path","description":"Category Fee ID","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. b527a750-149e-4050-8cf4-059a7c929c55)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/categories/{id}":{"get":{"tags":["Category Management"],"summary":"Get category by ID","description":"Get basic category information by ID","operationId":"getCategoryById","parameters":[{"name":"id","in":"path","description":"Category ID","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. c56cbbc5-141e-4216-87fa-b49f13a8792d)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCategoryResponse"}}}}}},"put":{"tags":["Category Management"],"summary":"Update category","description":"Update an existing category using HTTP ETag for version control","operationId":"updateCategory","parameters":[{"name":"id","in":"path","description":"Category ID","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. d4c28c52-8313-4f56-a6ce-660ab2379538)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCategoryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCategoryResponse"}}}}}},"delete":{"tags":["Category Management"],"summary":"Delete category","description":"Delete a category by its ID","operationId":"deleteCategory","parameters":[{"name":"id","in":"path","description":"Category ID","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. fa3fdae1-7105-49fb-ba04-291db03ae41f)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/cart/items/{itemId}":{"put":{"tags":["Cart Item Management V1"],"summary":"Update cart item","description":"Update the quantity of a cart item","operationId":"updateCartItem","parameters":[{"name":"itemId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 8d871526-b49f-4ab8-9420-33647811aa95)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCartItemRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCartDto"}}}}}},"delete":{"tags":["Cart Item Management V1"],"summary":"Remove cart item","description":"Remove an item from the cart","operationId":"removeFromCart","parameters":[{"name":"itemId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 81715888-c605-4b2e-8d9e-e53f0cb64d3c)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/buyers/me":{"get":{"tags":["Buyer Controller"],"summary":"Get my buyer profile","description":"Get authenticated buyer's own profile","operationId":"getMyProfile","parameters":[{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. a7a21553-127c-4fb3-9b82-95822868ea76)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}},"put":{"tags":["Buyer Controller"],"summary":"Update buyer info","description":"Update authenticated buyer's own info","operationId":"updateMyProfile","parameters":[{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 74087464-923b-445d-a6d0-cad80fefd067)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuyerUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseObject"}}}}}}},"/api/v1/buyer/wishlists/{wishlistId}":{"get":{"tags":["wishlist-controller"],"operationId":"getWishlistById","parameters":[{"name":"wishlistId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. aef067a0-861f-4537-8008-7547ac8808f4)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWishlistResponse"}}}}}},"put":{"tags":["wishlist-controller"],"operationId":"updateWishlist","parameters":[{"name":"wishlistId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. d78e83cc-6750-466d-b04a-9c42025d178d)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateWishlistRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWishlistResponse"}}}}}},"delete":{"tags":["wishlist-controller"],"operationId":"deleteWishlist","parameters":[{"name":"wishlistId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 51cfd967-a7b3-443e-8db6-ddb460a90c0e)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/buyer/wishlists/{wishlistId}/set-default":{"put":{"tags":["wishlist-controller"],"operationId":"setAsDefault","parameters":[{"name":"wishlistId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. dae99c60-1485-4c0f-8249-820e0376143e)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWishlistResponse"}}}}}}},"/api/v1/buyer/wishlists/{wishlistId}/items/{itemId}":{"put":{"tags":["wishlist-controller"],"operationId":"updateWishlistItem","parameters":[{"name":"wishlistId","in":"path","required":true,"schema":{"type":"string"}},{"name":"itemId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 30737b1e-d9ba-440a-8430-9096c9065104)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateWishlistItemRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWishlistItemResponse"}}}}}},"delete":{"tags":["wishlist-controller"],"operationId":"removeFromWishlist","parameters":[{"name":"wishlistId","in":"path","required":true,"schema":{"type":"string"}},{"name":"itemId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 0ef7e460-21f6-4ecf-ad7a-e9480395cdff)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/buyer/orders/{orderId}/return-shipping":{"put":{"tags":["Buyer Order Management"],"summary":"Update return shipping","description":"Update tracking number when shipping return to shop","operationId":"updateReturnShipping","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 78598778-b38f-45e5-8db3-2a9d5fca9b89)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderReturnShippingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/buyer/orders/{orderId}/return-request":{"put":{"tags":["Buyer Order Management"],"summary":"Request return","description":"Request return for delivered order (within 7 days)","operationId":"requestReturn","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 5ae51791-299e-43c9-a428-ece5629ec755)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderReturnRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/buyer/orders/{orderId}/return-cancel":{"put":{"tags":["Buyer Order Management"],"summary":"Cancel return request","description":"Cancel pending return request before shop approval","operationId":"cancelReturnRequest","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 57f9ed48-9efe-40de-8a30-3c3b25f4d055)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/buyer/orders/{orderId}/confirm-received":{"put":{"tags":["Buyer Order Management"],"summary":"Confirm order received","description":"Buyer confirms they received the order","operationId":"confirmOrderReceived","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 2dd84f36-6120-4c46-83fe-e3f3ed66f312)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/buyer/orders/{orderId}/cancel":{"put":{"tags":["Buyer Order Management"],"summary":"Cancel order","description":"Cancel order by buyer","operationId":"cancelOrder_1","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 32cfe2ea-b878-4bfe-b60c-637214e8495e)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderCancelRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/buyer/orders/refunds/{refundId}/bank":{"put":{"tags":["Buyer Order Management"],"summary":"Update refund bank account","description":"Buyer updates bank account for refund. Only allowed when status is PENDING.","operationId":"updateRefundBank","parameters":[{"name":"refundId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. d823d88c-2134-42df-ba63-796d34ff7b6c)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRefundBankRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/buyer/addresses/{addressId}":{"get":{"tags":["Buyer Address Controller"],"summary":"Get buyer address detail","description":"Get buyer address detail to database","operationId":"getBuyerAddressDetail","parameters":[{"name":"addressId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 6d413c9b-0fc8-4b20-a42c-8549c7f27177)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBuyerAddressResponse"}}}}}},"put":{"tags":["Buyer Address Controller"],"summary":"Update buyer address","description":"Update buyer address to database","operationId":"updateBuyerAddress","parameters":[{"name":"addressId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. f70a40ac-d74e-4ef9-8824-3b1916d83c93)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuyerAddressUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"delete":{"tags":["Buyer Address Controller"],"summary":"Delete buyer address","description":"Delete buyer address from database","operationId":"deleteBuyerAddress","parameters":[{"name":"addressId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. af00d870-d3f8-4566-b9cf-c8d15c1ecfc3)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/buyer/addresses/{addressId}/default":{"put":{"tags":["Buyer Address Controller"],"summary":"Set default address","description":"Set a specific address as default for buyer","operationId":"setDefaultAddress","parameters":[{"name":"addressId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. ba4675f2-adf4-4dc6-a41c-6cea6e5f44f2)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/banks/accounts/{bankAccountId}":{"get":{"tags":["Bank Controller"],"summary":"Lấy thông tin tài khoản ngân hàng","description":"User lấy chi tiết 1 tài khoản ngân hàng","operationId":"getBankAccountById","parameters":[{"name":"bankAccountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 6437a390-0343-4c07-9c41-1c2e9acc5c5c)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserBankAccountResponse"}}}}}},"put":{"tags":["Bank Controller"],"summary":"Cập nhật tài khoản ngân hàng","description":"User cập nhật thông tin tài khoản ngân hàng","operationId":"updateBankAccount","parameters":[{"name":"bankAccountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. e84db22c-3c37-481b-9007-b23a36ee8850)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserBankAccountUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserBankAccountResponse"}}}}}},"delete":{"tags":["Bank Controller"],"summary":"Xóa tài khoản ngân hàng","description":"User xóa tài khoản ngân hàng (không được xóa default)","operationId":"deleteBankAccount","parameters":[{"name":"bankAccountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 733e8533-3fba-4aee-8821-da6daf9eb731)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/banks/accounts/{bankAccountId}/set-default":{"put":{"tags":["Bank Controller"],"summary":"Đặt tài khoản ngân hàng mặc định","description":"User đặt tài khoản ngân hàng làm mặc định","operationId":"setDefaultBankAccount","parameters":[{"name":"bankAccountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 3285f789-3819-469d-b6bb-bb9e8324f03e)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserBankAccountResponse"}}}}}}},"/api/v1/admin/wallets/withdrawal-configs/{configId}":{"put":{"tags":["admin-wallet-withdrawal-config-controller"],"operationId":"updateConfig","parameters":[{"name":"configId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 023d0dd0-b278-42d3-97e4-bed89e1d2b2c)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletWithdrawalConfigRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWalletWithdrawalConfigResponse"}}}}}},"delete":{"tags":["admin-wallet-withdrawal-config-controller"],"operationId":"deleteConfig","parameters":[{"name":"configId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 596cf9db-ebdc-4c42-a0f2-8b09110ff325)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/admin/shipping/services/{id}":{"put":{"tags":["Admin Shipping Management"],"summary":"Update carrier service configuration","operationId":"updateService","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 026e2875-4ceb-4c3b-8d03-9b1e46bc6481)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateServiceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseServiceTypeResponse"}}}}}}},"/api/v1/admin/shipping/carriers/{id}":{"put":{"tags":["Admin Shipping Management"],"summary":"Update shipping carrier configuration","operationId":"updateCarrier","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. f1e39410-263e-445f-b8ec-95c9805b669c)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCarrierRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCarrierResponse"}}}}}},"delete":{"tags":["Admin Shipping Management"],"summary":"Soft delete a shipping carrier","operationId":"deleteCarrier","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 903b6ad1-6a9c-4951-b712-d1e95db9ea2d)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/admin/reviews/{reviewId}/moderate":{"put":{"tags":["Admin Review Management"],"summary":"Moderate review","description":"Approve or reject a review","operationId":"moderateReview","parameters":[{"name":"reviewId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. f8591a66-4c09-4d2f-a9f9-ce1e46f114e0)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModerateReviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReviewResponse"}}}}}}},"/api/v1/admin/products/{id}/active":{"put":{"tags":["Admin Products"],"summary":"Set product active status","description":"Set product active/inactive status","operationId":"setProductActiveStatus","parameters":[{"name":"id","in":"path","description":"Product ID","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 66bad300-eea1-4b64-b0b1-9015e325812e)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetActiveStatusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseProductResponse"}}}}}}},"/api/v1/admin/penalties/{id}/finalize":{"put":{"tags":["Admin Penalty Management"],"summary":"Finalize a penalty","description":"Finalize penalty and create OrderFee for monetary penalties","operationId":"finalizePenalty","parameters":[{"name":"id","in":"path","description":"Penalty ID","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 96b3f81f-0213-4fe8-9700-95ca10be87ab)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinalizePenaltyRequest"}}},"required":true},"responses":{"200":{"description":"Penalty finalized successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderPenaltyResponse"}}}},"404":{"description":"Penalty not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderPenaltyResponse"}}}},"400":{"description":"Invalid status transition","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderPenaltyResponse"}}}}}}},"/api/v1/admin/penalties/{id}/confirm":{"put":{"tags":["Admin Penalty Management"],"summary":"Confirm a penalty","description":"Move penalty from PENDING to CONFIRMED status","operationId":"confirmPenalty","parameters":[{"name":"id","in":"path","description":"Penalty ID","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 2d9b2279-c523-43d2-b09a-bf35c669035d)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfirmPenaltyRequest"}}},"required":true},"responses":{"200":{"description":"Penalty confirmed successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderPenaltyResponse"}}}},"404":{"description":"Penalty not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderPenaltyResponse"}}}},"400":{"description":"Invalid status transition","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderPenaltyResponse"}}}}}}},"/api/v1/admin/orders/{orderId}/status":{"put":{"tags":["Admin Order Management"],"summary":"Update order status (Admin)","description":"Update order status by admin","operationId":"updateOrderStatusByAdmin","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 41b28202-6090-4da8-a8f4-a93f14aabd74)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderStatusUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/admin/orders/{orderId}/complete-refund":{"put":{"tags":["Admin Order Management"],"summary":"Complete refund (Admin)","description":"Admin confirms transfer with evidence. Updates OrderRefund to SUCCESS.","operationId":"completeRefund","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. db1ec1e2-1dca-4314-a34e-bb9d62930794)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminRefundCompleteRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/admin/orders/{orderId}/cancel":{"put":{"tags":["Admin Order Management"],"summary":"Cancel order (Admin)","description":"Cancel order by admin","operationId":"cancelOrderByAdmin","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 712b3046-1362-44a9-af10-722d3fd9ad06)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderCancelRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/admin/loyalty/platform/programs/{code}":{"get":{"tags":["Admin Loyalty"],"summary":"Get platform loyalty program by code","operationId":"getProgram","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 3508cd88-bfae-46a0-a2a9-e9e32bdd55a5)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePlatformProgramResponse"}}}}}},"put":{"tags":["Admin Loyalty"],"summary":"Update platform loyalty program","operationId":"updateProgram","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. f7ad11d7-b628-49e1-94c5-fe04cffda93d)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlatformProgramRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePlatformProgramResponse"}}}}}}},"/api/v1/admin/campaigns/{campaignId}":{"get":{"tags":["Admin Campaign"],"summary":"Get campaign detail","operationId":"getCampaignDetail","parameters":[{"name":"campaignId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 6e6e2d88-b02a-44f1-8d47-2337aa61587b)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCampaignResponse"}}}}}},"put":{"tags":["Admin Campaign"],"summary":"Update campaign","operationId":"updateCampaign","parameters":[{"name":"campaignId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. eeb03d10-58ee-4747-895a-d5291046cd48)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCampaignRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCampaignResponse"}}}}}},"delete":{"tags":["Admin Campaign"],"summary":"Delete campaign (soft delete)","operationId":"deleteCampaign","parameters":[{"name":"campaignId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. bebab687-2580-4df3-bbe6-dc5bd90eac3f)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/admin/buyers/{buyerId}":{"get":{"tags":["Admin Buyer Controller"],"summary":"Get buyer detail by ID","description":"Admin endpoint to get any buyer's details by ID","operationId":"getBuyerDetailById","parameters":[{"name":"buyerId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 193375b5-e42b-43df-878c-fd2d21a6829a)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBuyerDetailResponse"}}}}}},"put":{"tags":["Admin Buyer Controller"],"summary":"Update buyer info by ID","description":"Admin endpoint to update any buyer's information","operationId":"updateBuyerById","parameters":[{"name":"buyerId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. cc4d0da1-f607-4d3f-b932-4edefdf3a6f7)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuyerUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/admin/appeals/{id}/review":{"put":{"tags":["Admin Appeal Management"],"summary":"Start review of an appeal","operationId":"startReview","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. cec99cab-7a0b-4554-85fc-418e3c8e3d70)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewAppealRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PenaltyAppealResponse"}}}}}}},"/api/v1/admin/appeals/{id}/reject":{"put":{"tags":["Admin Appeal Management"],"summary":"Reject an appeal and proceed with penalty","operationId":"rejectAppeal","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 680c6433-04ce-4053-ae54-b81a8496bad0)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectAppealRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PenaltyAppealResponse"}}}}}}},"/api/v1/admin/appeals/{id}/approve":{"put":{"tags":["Admin Appeal Management"],"summary":"Approve an appeal and cancel the penalty","operationId":"approveAppeal","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. daa7a9e2-7fcb-4e49-95cd-a25e93c940e3)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApproveAppealRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PenaltyAppealResponse"}}}}}}},"/api/v2/vouchers/validate":{"post":{"tags":["New Voucher Management"],"summary":"Validate multiple vouchers","description":"Validate multiple vouchers với single query - Performance tốt hơn 30x","operationId":"validateVouchers","parameters":[{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 6424932e-aa00-40ee-89f8-e8ac6990cf55)","required":false}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoucherValidationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoucherValidationResponse"}}}}}}},"/api/v2/vouchers/use-shop/{templateId}":{"post":{"tags":["New Voucher Management"],"summary":"Shop sử dụng voucher tự tạo","description":"Shop sử dụng voucher tự tạo với optimistic locking","operationId":"useShopVoucher","parameters":[{"name":"templateId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. d0c2bff5-2fab-4216-925e-2b0264c08b82)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBoolean"}}}}}}},"/api/v2/vouchers/use-platform/{templateId}":{"post":{"tags":["New Voucher Management"],"summary":"Platform sử dụng voucher trực tiếp","description":"Platform sử dụng voucher trực tiếp với optimistic locking","operationId":"usePlatformVoucher","parameters":[{"name":"templateId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 43e02ab6-c0fa-4c63-ab2e-d314600b68ce)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBoolean"}}}}}}},"/api/v2/vouchers/use-instance/{instanceId}":{"post":{"tags":["New Voucher Management"],"summary":"Sử dụng voucher từ instance","description":"Sử dụng voucher từ instance với optimistic locking","operationId":"useVoucherFromInstance","parameters":[{"name":"instanceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. be3c95b3-cfd1-4343-b0e2-e6a8910e8262)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBoolean"}}}}}}},"/api/v2/vouchers/templates/{templateId}/publish":{"post":{"tags":["New Voucher Management"],"summary":"Platform publish DRAFT voucher","description":"Platform chuyển voucher từ DRAFT sang ACTIVE, tạo VoucherInstance","operationId":"publishPlatformVoucher","parameters":[{"name":"templateId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","description":"UUID for idempotency (e.g. 17ac6485-bee5-4ce3-82a5-138e3aa7cf12)","required":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoucherTemplateResponse"}}}}}}},"/api/v2/vouchers/templates/shop":{"post":{"tags":["New Voucher Management"],"summary":"Shop tạo voucher riêng","description":"Shop tạo voucher riêng với thiết kế mới 3 entity","operationId":"createShopVoucher","
[...]
